/aug_train.csv
/compareson.ipynb
/DOC-20260821-WA0154.gitattributes
/DOC-20260821-WA0155.gitignore
/Graduation_project_Decision tree model.ipynb
/Graduation_project_KNN Model.ipynb
/Graduation_project_Logistic regression model_(8)_(1).ipynb
/Graduation_project__random_forst_model (2).ipynb
/logistic_regression_model.pkl
/presentation.txt
/Smart_Recruitment_Assistant_Documentation.pdf